.clientData{
    display: flex;
    text-transform: capitalize;
    align-content: center;
    padding-bottom: 2rem;
     
    h5{
        color: $beigeColor;
        font-size: 1.6rem;
        margin-bottom: 5px;
        margin-top:10px;
        font-weight: 100;
    }
    
    .clientProfile{
        margin-left: 1rem;
        font-weight: 100;

        span{
            font-size: 13px;
        }
    }
}
@media screen  and (min-width: 720px){
    .clientData{
       
        img{
            width: 80%;
        }
  
        h5{
       
          font-size: 70%;
        }
   
      .clientProfile{
            margin-left: 0;

            span{
               font-size: 70%;
            }
        }
  
    }
}

