
.homePageHeader{
    background: url("../images/banner.png") local no-repeat;  
    background-size: 100% 31rem;
    height: 31rem;
    
}
.homePageMain{
    background-color: $primaryBackground;
    color:$whiteColor;
     
}
.homePageFooter{
    background: url("../images/footer.png") local no-repeat;  
    background-position: 50% 10%;
   background-size:850%; 
   color: $whiteColor;
}
 
 
@media screen  and (min-width: 720px){
    
   .homePageHeader{
        height: 30rem;
    }
   .homePageFooter{
        background: url("../images/footer.png") local no-repeat;  
        background-size:100%; 
    }    
}
@media screen and (min-width:960px){
    .homePageHeader{
   
        background-size: 100% 100%;
    }
   
}